@model OnlineCoursesWeb.Models.Teacher
@{
    ViewData["Title"] = "Edit";
}

<div class="row center justify-content-center align-items-center">
    <div class=" blurred-card col-md-4">
        <h1 class="text-center">Edit teacher</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" id="floatingInput" placeholder="Name" required>
                <label asp-for="Name" class="ms-1">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" id="floatingInput" placeholder="Email" type="email" required>
                <label asp-for="Email" class="ms-1">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Language" class="form-control" id="floatingInput" placeholder="Language" required>
                <label asp-for="Language" class="ms-1">Language</label>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Course" class="form-control" id="floatingInput" placeholder="Course" required>
                <label asp-for="Course" class="ms-1">Course</label>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Level" class="form-control" id="floatingInput" placeholder="Level" required>
                <label asp-for="Level" class="ms-1">Level</label>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="row justify-content-between m-0">
                <button type="submit" value="Save" class="btn btn-warning mb-3 col-md-5">Save</button>
                <button onclick="location.href='@Url.Action("Index", "Teachers")'" class="btn btn-warning mb-3 col-md-5">Back to list</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
