@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="blurred-card center text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>
        Please check your email to reset your password.
    </p>
</div>


