@{ ViewData["Title"] = "FAQ"; }
@{ ViewBag.Current = "FAQ"; }

<h1>Frequently Asked Questions</h1>
<br />

<h2>How can I find a teacher?</h2>
<p>You can find teachers and courses by registering as a student, then heading to the Techers page. You can then search for specific courses and subjects.</p>

<h2>How can I contact a teacher?</h2>
<p>You can get in touch with a teacher via email by clicking on their email address.</p>

<h2>How much do I have to pay for a class?</h2>
<p>Payment is completely up to the teachers. They can decide whether they want to charge a fee for their classes or not. They will agree on the terms with you in email.</p>

<h2>How are the lessons held?</h2>
<p>Our teachers conduct their classes online.</p>

<h2>How do I publish my profile as a teacher?</h2>
<p>First you have to register as a teacher, then head to the Teachers page. There you will find a button to add a new teacher. Then you can specify the language you will hold your classes in, the level and the subject. You must also add an email address so students can get in touch with you.</p>

<h2>How can I edit or delete a class that I added?</h2>
<p>To edit or delete a class you added you must get in touch with our support.</p>