@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    ViewBag.Current= "Email";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 col-md-12">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" disabled>
                            <label asp-for="Email" for="floatingInput">Email address</label>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
            <div class="form-floating mb-3 col-md-12">
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label asp-for="Input.NewEmail" for="floatingInput">New email address</label>
                </div>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="row m-0">
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-warning col-md-12 shadow-lg" >Change email</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
